@font-face {
  font-family: 'SF Pro Display';
  src: url('serpro.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('serpro-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}



@font-face {
  font-family: 'SF Pro Display';
  src: url('SF-Pro-Display-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
