@font-face {
  font-family: 'ABC Ginto Normal';
  src: url('ABCGintoNormal-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ABC Ginto Normal';
  src: url('ABCGintoNormal-BoldItalic.otf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'ABC Ginto Normal';
  src: url('ABCGintoNormal-Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ABC Ginto Normal';
  src: url('ABCGintoNormal-MediumItalic.otf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'ABC Ginto Normal';
  src: url('ABCGintoNormal-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ABC Ginto Normal';
  src: url('ABCGintoNormal-RegularItalic.otf');
  font-weight: 400;
  font-style: italic;
}